[color]
  ui = true
[core]
  excludesfile = ~/.gitignore
	quotepath = false
[user]
  name = Leon Dewey
  email = leon@leondewey.com
[credential]
  helper = /usr/bin/gp credential-helper
[alias]
	co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  undo-commit = reset --soft HEAD^
  unadd = reset HEAD --
  unstage = reset HEAD --
  add-commit = !git add -A && git commit
  skywalker = push -f
  amend = commit --amend --no-edit
  g = status
  github = push && noti pull-request -u leon
  l = log --graph --color=always --format="%C(auto)%h%d %C(black)%C(bold)%cr" "$@"
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  fs = "!git branch --sort=-committerdate | sed -E 's/..(.*)/\\1/' | fzf | xargs git switch"
  cowboy = "!git add -A && git commit --amend --no-edit && git push -f"
[help]
  autocorrect = 1
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[push]
  default = current